<div class="container-fluid">

  <h2 class=container-title><%= resource_name.to_s.humanize %> anpassen</h2>
  
  <div class="container-user">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="photo-selection">
    
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"thumb"},
            {:width=>200, :crop=>"scale"}
            ], class: "avatar-large", alt: "avatar-large" %>

      <div class="mx-auto mt-3">
        <%#= f.input :photo, input_html: { class: 'hidden'} %>
        <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Foto hochladen', hint: "Nach Hochladen, aktuelles Passwort eingeben und speichern" %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      </div>

    <% else %>

      <div class="default-avatar">
        <i class="far fa-user-circle"></i>
        
        <div class="mx-auto mt-3">
          <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷 Foto hochladen' %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
        </div>
     
      </div>
    <% end %>
  
  </div>

  <div class="row row-cols-1 row-cols-md-2">

    <div class="col">
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        
        <%= f.input :first_name,
                    label: "Vorname",
                    hint: "kann leer bleiben, falls keine Änderungen gewünscht",
                    required: false,
                    input_html: { autocomplete: "new-first_name" } %>
        <%= f.input :last_name,
                    label: "Nachname",
                    hint: "kann leer bleiben, falls keine Änderungen gewünscht",
                    required: false,
                    input_html: { autocomplete: "new-last_name" } %>          
      </div>
    </div>

    <div class="col">
      <div class="form-inputs">
        <%= f.input :password,
                    label: "Passwort",
                    hint: "kann leer bleiben, falls keine Änderungen gewünscht",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Passwort wiederholen",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
  
  </div>  
  
  <div class="password-requirement">
    <%= f.input :current_password,
                label: "Aktuelles Passwort",
                hint: "für Änderungen müssen sie ihr aktuelles Passwort eingeben",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Speichern", class: "btn btn-flat" %>
  </div>
  <% end %>
  </div>

  <div class="container-title">

    <p>Unzufrieden? <%= link_to "Konto löschen", registration_path(resource_name), data: { confirm: "Sind sie sicher? Mit dem Löschen ihres Kontos werden auch alle dazugehörigen Nachrufe entfernt." }, method: :delete %></p>

    <%= link_to "Zurück", :back %>
    <br>
    <br>
    <br>
    <div class="contact-container">
      <p>Haben sie Fragen oder Anregungen? Schicken sie uns eine Nachricht.</p>
      <%= link_to "Feedback senden", new_contact_path, class: "btn btn-flat" %>
    </div>
  
  </div>

</div>
<br>





