<div class="container">
	<div class="row">
		<div class="col">
			<%= simple_form_for (@article) do |form| %>
			  <div class="field from-group">
			    <%= form.label :title %>
			    <%= form.text_field :title, class: "form-control" %>
			  </div>
			  <br>
			  <div class="field form-group description">
			    <%= form.label :description %>
			    <%= form.text_field :description, class: "form-control description" %>
			  </div>
				<div class="field form-group">
			    <%= form.label :content %>
			    <%= form.rich_text_area :content, class: "form-control" %>
			  </div>

			  <!-- Error messages -->
			  <% if @article.errors.any? %>
			  	<div class="errors-container">
			  		<ul>
			  		  <% @article.errors.full_messages.each do |message| %>
			  		      <li><%= message %></li>
			  		      <li>Current length description: <%= @article.description.length %></li>
			  		    <% end %>
			  		  </ul>
			  	</div>
			  <% end %>

				<%= form.submit "Save", class: "btn btn-primary" %>
			 
			  <!-- <div class="field form-group">
			    <button type="submit" class="btn btn-primary">Save</button>
			  </div> -->
			
			<% end %>
			<br>
		</div>
	</div>
</div>