<!-- SEO -->
<% content_for :meta_title, "#{@article.title} - Artikel von #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<div class="container-fluid container-light py-5">
	<div class="row">
		<div class="col container-article">
			
			<div class="title-container">
				<h2><%= @article.title %></h2>
				<div class="btns-edit">
					<%= link_to articles_path do %>
						<i class="fas fa-arrow-left"></i>
					<% end %>
					<% if policy(Article).update? %>
						<%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
						<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" }, class: "btn btn-danger" %>
					<% end %>
				</div>
			</div>
			
			<div class="description-container">
				<p><strong><%= @article.description %></strong></p>
			</div>

			<div class="content-container">
				<p><%= @article.content %></p>
			</div>
			<div class="article-update">
				<p>Zuletzt geändert am <%= @article.updated_at.strftime("%d.%m.%Y") %></p>
			</div>

			<div class="contact-container">
				<p>Haben sie Fragen oder Anregungen? Schicken sie uns eine Nachricht.</p>
				<%= link_to "Feedback senden", new_contact_path, class: "btn btn-flat" %>
			</div>
			<br>

			
		</div>
	</div>
</div>
