<% @obituary.events.each do |e| %>

<div class="event" data-event-id="<%= e.id %>">
	

	<div class="event-information">
		<p><strong class="strong"><%= @obituary.full_name %></strong></p>
		<h2><%= e.name %></h2>
		
		<% if e.content.present? %>
			<p><%= e.content %></p>
		<% end %>
		
		<% if e.address.present? %>
			<p><strong class="strong">Ort:</strong> <%= e.address %></p>
		<% end %>

		<% if e.date.present? %>
			<p><strong class="strong">Datum:</strong> <%= e.date.strftime('%d.%m.%Y') %></p>
		<% end %>

		<% if e.time.present? %>
			<p><strong class="strong">Uhrzeit:</strong> <%= e.time.strftime('%k:%M') %> Uhr</p>
		<% end %>
	</div>

	<%= link_to "Öffnen", event_path(@obituary, e), class: "btn btn-flat px-5" %>
	<br>
	
	<!-- Icons edit & delete bottom -->
	<% if user_signed_in? %>
		<div class="memory-actions">

			<% if policy(@obituary).update? %>
				<!-- <div class="icon-edit"> -->
					<%= link_to edit_event_path(@obituary, e), class: "btn" do %>
				  	<i class="fas fa-edit"></i>
					<% end %>
				<!-- </div> -->
			<% end %>

			<% if policy(@obituary).update? %>
				<!-- <div class="icon-delete"> -->
					<%= link_to destroy_event_path(@obituary, e),
					      method: :delete,
					      data: { confirm: "Sind sie sicher, dass sie die Veranstaltung #{e.name} löschen wollen?" },
					      class: "btn" do %>
							<i class="fas fa-trash-alt"></i>
					<% end %>
				<!-- </div> -->
			<% end %>

		</div>
	<% end %>

</div>

<% end %>