<% @obituary.memories.each do |m| %>

<div class="memory">
	<div class="author-section">
  	<p>Erstellt von <strong><%= m.user.full_name %></strong> am <%= m.created_at.strftime("%d.%m.%Y") %></p>
		<% if m.user.photo.attached? %>
			<%= cl_image_tag m.user.photo.key, :transformation=>[
		  	  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"thumb"},
		  	  {:width=>200, :crop=>"scale"}
		  	  ], class: "avatar", alt: "Profilbild von #{m.user.full_name} auf in-frieden.ch" %>
		<% else %>
			<i class="far fa-user-circle"></i>
		<% end %>
  	<!-- <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar" /> -->
		
	</div>
  <div class="memory-content">
    <p><small><%= m.description %></small></p>
    <p><%= m.content %></p>
  </div>

  <div class="memory-actions">
  	<%= link_to edit_memory_path(@obituary, m) do %>
    	<i class="fas fa-pencil-alt"></i>
    <% end %>

    <%= link_to destroy_memory_path(@obituary, m),
    							method: :delete,
    							data: { confirm: "Sind sie sicher, dass sie ihre Erinnerung mit #{@obituary.full_name} löschen wollen?"},
    							class: "btn" do %>
			<i class="far fa-trash-alt"></i>
		<% end %>
  </div>

  <div class="updated-at">
  	<p>Aktualisiert am <%= m.updated_at.strftime('%d.%m.%Y') %></p>
  </div>
</div>

<% end %>