<% @obituary.memories.each do |m| %>

<div class="memory">
	<div class="author-section">
		<% if m.user.photo.attached? %>
			<%= cl_image_tag m.user.photo.key, :transformation=>[
		  	  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"thumb"},
		  	  {:width=>200, :crop=>"scale"}
		  	  ], class: "avatar", alt: "Profilbild von #{m.user.full_name} auf in-frieden.ch" %>
		<% else %>
			<i class="far fa-user-circle"></i>
		<% end %>
  	<p>Erstellt von <strong><%= m.user.full_name %></strong> am <%= m.created_at.strftime("%d.%m.%Y") %></p>
  	<!-- <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar" /> -->
		
	</div>
  <div class="memory-content">
    <p><small><%= m.description %></small></p>
    <p id="memory-text"><%= m.content %></p>
  </div>

  <div class="icons-top-index">

		<% if user_signed_in? %>	
			
			<% if policy(m).edit? %>
		  	<%= link_to edit_memory_path(@obituary, m), class: "btn" do %>
		  		<i class="fas fa-edit"></i>
		  	<% end %>
		  <% end %>

			<% if policy(m).destroy? %>
		  	<%= link_to destroy_memory_path(@obituary, m),
		  								method: :delete,
		  								data: { confirm: "Sind sie sicher, dass sie ihre Erinnerung mit #{@obituary.full_name} löschen wollen?"},
		  								class: "btn" do %>
		  		<i class="fas fa-trash-alt"></i>
		  	<% end %>
	  	<% end %>

	  	<%# if policy(@obituary).edit? %>
				<!-- <i class="fas fa-eye-slash"></i> -->
	  	<%# end %>

	  <% end %>

  </div>

  <div class="updated-at">
  	<p>Aktualisiert am <%= m.updated_at.strftime('%d.%m.%Y') %></p>
  </div>
</div>

<% end %>