<!-- SEO -->
<% content_for :meta_title, "Alle veröffentlichten Todesanzeigen auf #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Einfach nach Vor- oder Nachname suchen, oder einfach den letzten Wohnort der Person, die sie suchen, eingeben. Drücken sie ihre Gefühle und ihr Beileid aus, indem sie eine Erinnerung auf der Traueranzeiige ihrer geliebten Person hinterlassen." %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<br>
<div class="container-fluid">

	<h2 class="">Traueranzeigen</h2>
	<br>

	<!-- Search bar -->
	<%= simple_form_for :search, url: obituaries_path, method: :get do |f| %>
	  <div class="search-form-control form-group">
			<%= text_field_tag :query,
		    params[:query],
		    class: "form-control string required",
		    type: "text",
		    id: "search_query",
		    placeholder: "Traueranzeigen finden (#{@obituaries.count})"
	  	%>
	    <button name="button" type="submit" class="btn btn-flat">
	      <i class="fas fa-search"></i> Suchen
	    </button>
	  </div>
	<% end %>
	<p class="small ml-1">suchen sie nach <strong class="strong">Vor- oder Nachnamen</strong>, nach letztem <strong class="strong">Wohnort</strong> oder nach Namen des <strong class="strong">Erstellers</strong></p>
	<br>

	<div class="container-obituaries">
		<div class="obituaries">

			<% if @obituaries.empty? %>
				<p class="font-weight-lighter font-italic">Keine Traueranzeigen gefunden</p>
			<% end %>

			<% @obituaries.each do |o| %>
				
				<div class="card-user-obituary">
				
				<%= render 'icons_top_index', obituary: o %>
					
				<%= link_to obituary_path(o) do %>
					<div class="user-obituary-img">
						<% if o.photo.attached? %>
							<%= cl_image_tag o.photo.key, width: 150, crop: :fill, gravity: :auto, :quality=>"auto:good", :alt => "Foto in Erinnerung an #{o.full_name}", class: "custom-img-obituary user" %>
						<% else %>
							<%= image_tag "cover.png", crop: :fill, class: "cover-img-obituary user", alt: "" %>
			  		<% end %>
					</div>
				<% end %>

				<%= link_to obituary_path(o) do %>
					<div class="user-obituary-details">
						<p><strong><%= o.full_name %></strong></p>
						<p class="publ-date">Veröffentlicht am <%= o.created_at.strftime("%d.%m.%Y") %></p>
					</div>
				<% end %>
				
				</div>
			<% end %>
			
		</div>
	</div>

	<div class="container-title">
	  <div class="contact-container">
	    <p>Haben sie Fragen oder Anregungen? Schicken sie uns eine Nachricht.</p>
	    <%= link_to "Feedback senden", new_contact_path, class: "btn btn-flat" %>
	  </div>
	</div>

</div>