<br>
<div class="container-fluid">
	<div class="row">
		<div class="col container-obituary">
			
			<div class="profile-details">
				<div class="flex-item" >
					<% if @obituary.photo.attached? %>
						<%= cl_image_tag @obituary.photo.key, width: 300, crop: :fill, gravity: :auto, :quality=>"auto:good", :alt => "Foto in Erinnerung an #{@obituary.full_name}", class: "custom-img-obituary" %>
					<% else %>
						<%= image_tag "cover.png", height: 300, width: 300, crop: :fill, class: "cover-img-obituary", alt: "" %>
		  		<% end %>
				</div>
				<div class="flex-item basic-info">
					<br>
					<p class="title">In Erinnerung an</p>
					<h2 class="mb-3"><%= @obituary.full_name %></h2>
					
					<p class="title">Verstorben am</p>
					<% if @obituary.death_date.nil? %>
						<p>Privat</p>
					<% else %>
						<p><%= @obituary.death_date.strftime("%d.%m.%Y") %></p>
					<% end %>

					<p class="title">Geboren am</p>
					<% if @obituary.birth_date.nil? %>
						<p>Privat</p>
					<% else %>
						<p><%= @obituary.birth_date.strftime("%d.%m.%Y") %></p>
					<% end %>

					<p class="title">Zuletzt wohnhaft in</p>
					<% if @obituary.residence.nil? %>
						<p>Privat</p>
					<% else %>
						<p><%= @obituary.residence %></p>
					<% end %>

				</div>
			</div>
			<br>

			<div class="tabs">
					
				<div class="tab-header">
					<ul class="flex-column flex-sm-row nav nav-tabs justify-content-center nav-justified" id="myTab" role="tablist">
					  <li class="nav-item">
					    <a class="flex-sm-fill text-sm-center nav-link active" id="nachruf-tab" data-toggle="tab" href="#nachruf" role="tab" aria-controls="nachruf" aria-selected="true">Nachruf</a>
					  </li>
					  <li class="nav-item">
					    <a class="flex-sm-fill text-sm-center nav-link" id="erinnerungen-tab" data-toggle="tab" href="#erinnerungen" role="tab" aria-controls="erinnerungen" aria-selected="false">Erinnerungen</a>
					  </li>
					  <li class="nav-item">
					    <a class="flex-sm-fill text-sm-center nav-link" id="veranstaltungen-tab" data-toggle="tab" href="#veranstaltungen" role="tab" aria-controls="veranstaltungen" aria-selected="false">Veranstaltungen</a>
					  </li>
					</ul>
				</div>

					<div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="nachruf" role="tabpanel" aria-labelledby="nachruf-tab">
							<p><%= @obituary.content %></p>
					  </div>
					  <div class="tab-pane fade" id="erinnerungen" role="tabpanel" aria-labelledby="erinnerungen-tab">
							<p>Work in Progress</p>
					  </div>
					  <div class="tab-pane fade" id="veranstaltungen" role="tabpanel" aria-labelledby="veranstaltungen-tab">
							<p>Work in Progress</p>
					  </div>
					</div>

			</div>

		</div>
	</div>
</div>
<br>

