<div class="container-fluid container-light">
	<div class="row">
		<div class="col py-5">

			<h2>Willkommen</h2>
			<br>
			<p>
				Als erstes möchte wir Ihnen unser <strong class="strong">aufrichtiges Beileid und tiefes Mitgefühl</strong> für Ihren Verlust wünschen. Wir wissen, dies ist eine schwierige Zeit: Aus diesem Grund haben wir <%= link_to "in-frieden.ch", root_path, class: "artikel-link" %> gegründet. Somit können wir Ihnen wenigsten einen Teil - <strong class="strong">das Erstellen und Teilen einer Todesanzeige</strong> - erleichtern. 
			</p>

			<p>
				Damit Sie Ihre persönliche Traueranzeige aufschalten und teilen können, müssen Sie sich mit Namen und Emailadresse <%= link_to "registrieren", new_user_registration_path, class: "artikel-link" %>. Melden Sie sich gleich hier an.
			</p>
			<%= link_to "Registrieren", new_user_registration_path, class: "btn btn-flat" %>
			<br>
			<br>
			<p>
				Fall Sie bereits registriert sind, können Sie sich <%= link_to "hier", new_user_session_path, class: "artikel-link" %> anmelden.
			</p>
			<br>
			<br>

			<p>Wenn Sie Fragen oder Anregungen haben, bitte zögern Sie nicht, mit uns in Kontakt zu treten.</p>
			<%= link_to "Nachricht senden", new_contact_path, class: "btn btn-flat" %>
			<br>
			<br>
		</div>
	</div>
</div>