<div class="container">
	<div class="row">
		<div class="col text">
			<br>
			<h2 id="inhaltsverzeichnis">Inhalte</h2>
			<ul class="liste-inhalte">
				<li><a href="#inhalte">Was beinhaltet eine Todesanzeige?</a></li>
				<li><a href="#vorlagen">Traueranzeigen, Vorlagen</a></li>
				<li><a href="#traueranzeigen-im-detail">Wie schreibt man eine Traueranzeige?</a></li>
			</ul>
			<br>
			
			<!-- Next Article -->			
			<%= render 'pages/shared/inhalte' %>
			<!-- Buttons -->
			<div class="btns-bottom">
				<%= render 'pages/shared/button_to_top' %>
				<a class="btn btn-to-top" href="#inhalte">
					<i class="fas fa-arrow-up"></i>Beginn Artikel
				</a>
			</div>
	
			<!-- Next Article -->
			<%= render 'pages/shared/vorlagen' %>
			<!-- Buttons -->
			<div class="btns-bottom">
				<%= render 'pages/shared/button_to_top' %>
				<a class="btn btn-to-top" href="#vorlagen">
					<i class="fas fa-arrow-up"></i>Beginn Artikel
				</a>
			</div>

			<!-- Next Article -->
			<%= render 'pages/shared/traueranzeigen_im_detail' %>
			<!-- Buttons -->
			<div class="btns-bottom">
				<%= render 'pages/shared/button_to_top' %>
				<a class="btn btn-to-top" href="#traueranzeigen-im-detail">
					<i class="fas fa-arrow-up"></i>Beginn Artikel
				</a>
			</div>

		</div>		
	</div>
</div>