<% name_pic = "flowers1.jpg" %>
<% name_pic_1 = "flowers2.jpg" %>

<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path(name_pic) %>');">
  <div class="container">
		<h1><strong>Traueranzeigen</strong> einfach gemacht</h1>
		<p>Kümmern Sie sich auf den Inhalt Ihres Nachrufs. Wir kümmern uns um die Veröffentlichung in ihrer Zeitung. Zum günstigsten Preis.</p>
		<%= link_to "Anzeige schalten", "#", class: "btn btn-outline-light" %>
  </div>
</div>
<!-- /banner -->

<!-- cards -->
<div class="container my-5">
	<h2 class="text-center mb-5">Willkommen!</h2>
	
	<div class="card-deck text-center">
	  <div class="card bg-transparent border-0 align-items-center">
			<%= image_tag "exchange_none.png", class: "card-img-top", style: "height: 100px; width: 100px;" %>
			<div class="card-body">
			  <h5 class="card-title">Abklärung</h5>
			  <p class="card-text">Im ersten Schritt brauchen wir ein paar wenige Information: Welche Zeitung? Das gewünschte Datum sowie ihre Emailadresse. Sie erhalten unmittelbar Bescheid, ob die gwünschte Anzeige verfügbar ist.</p>
			</div>
	  </div>

	  <div class="card bg-transparent border-0 align-items-center">
			<%= image_tag "layout_none.png", class: "card-img-top", style: "height: 100px; width: 100px;" %>
			<div class="card-body">
			  <h5 class="card-title">Gestaltung</h5>
			  <p class="card-text">Wir zeigen Ihnen stilvolle Vorlagen, die Sie zur Verfassung Ihrer Traueranzeige nutzen können. Nach Vorgabe der Zeitung wird das Format automatisch passend gemacht.</p>
			</div>
	  </div>

	  <div class="card bg-transparent border-0 align-items-center">
			<%= image_tag "newspaper_none.png", class: "card-img-top", style: "height: 100px; width: 100px;" %>
			<div class="card-body">
			  <h5 class="card-title">Publizierung</h5>
			  <p class="card-text">Wir arbeiten mit den meisten Zeitungen in der Schweiz zusammen und können dadurch günstigere Preise anbieten, als wenn Sie direkt eine Anzeige schalten. Wir kümmern uns um die Publizierung.</p>
			</div>
	  </div>
	</div>

</div>
<!-- /cards -->

<!-- about -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path(name_pic_1) %>');">
	<div class="container">
		<h2>hello</h2>
		<p>Some further details</p>
	</div>

</div>
<!-- /about -->

<!-- form -->
<div class="container">
	<h2 class="tex-center my-5 ml-3">Anzeige schalten</h2>
	<form class="m-3">
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Ihre Emailadresse?</label>
	    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlSelect2">Wo möchten Sie die Anzeige schalten? Sie können mehrere Zeitungen auswählen.</label>
	    <select multiple class="form-control" id="exampleFormControlSelect2">
	      <option>Aargauer Zeitung</option>
	      <option>Basellandschaftl. Zeitung</option>
	      <option>Basler Zeitung</option>
	      <option>Berner Zeitung</option>
	      <option>Neue Luzerner Zeitung</option>
	      <option>Neue Zürcher Zeitung</option>
	      <option>St. Galler Tagblatt</option>
	      <option>Südostschweiz</option>
	      <option>Tages Anzeiger</option>
	      <option>Zürichsee-Zeitung Gesamtausgabe: Bezirk Horgen</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Andere Zeitung?</label>
	    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
	  </div>
	  <button class="btn btn-outline-secondary" type="submit">Anfrage abschicken</button>
	</form>
</div>

<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form>

<form action="/restaurants" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="address" placeholder="Address">
  <input type="submit">
</form>

<!-- /form -->


