<style>
	html {
		font-family: sans-serif;
	}
</style>

<p>Hallo <strong>Chef</strong>,</p>

<p>Jemand hat eine neue Anfrage gestellt. Hier die Details:</p>

<p><strong>Email: </strong><%= @contact.email %></p>  

<p><strong>Name: </strong><%= @contact.name %></p>

<p><strong>Subject: </strong><%= @contact.subject %></p>


<p><strong>Content: </strong><%= @contact.content %></p>

<%= link_to "Hier geht's zur zur Homepage", root_url %>