<div class="container-fluid">
	
	<h2 class="container-title">Erinnerung Anpassen</h2>
	<p class="container-title">Passen Sie ihre Erinnerung mit <strong><%= @obituary.full_name %></strong> an</p>
	
	<div class="container-user">

		<div class="row">
			<div class="col">

				<%= simple_form_for [ @obituary, @memory ], url: update_memory_path do |f| %>

					<%#= f.input :photo, 
											as: :file, 
											label: "Erinnerungsbild", 
											:folder => "in-frieden.ch", 
											hint: "laden Sie hier ein Foto der Person hoch. Es wird anschliessend automatisch auf das richtige Format zugeschnitten und ist nach dem Speichern ersichtlich." %>
							
					<div class="form-group">
						<%= f.input :description, 
												class: 'form-control', 
												label: "Titel der Erinnerung", 
												hint: "dieses Feld ist optional" %> 
					</div>
					
					<div class="form-group trix">
						<%= f.label :content, "Beschreibung der Erinnerung" %>
						<%= f.rich_text_area :content, 
																	class: 'form-control', 
																	placeholder: "Schreiben Sie hier eine Erinnerung rein, die Sie in Verbindung mit der verstorbenen Person teilen möchten." %> 
					</div>
					
					<!-- Error messages -->
					<% if @memory.errors.any? %>
						<div class="errors-container">
							<ul>
							  <% @memory.errors.full_messages.each do |message| %>
							    <li><%= message %></li>
							  <% end %>
							</ul>
						</div>
					<% end %>

					<br>
					<%= f.button :submit, "Erinnerung anpassen", class: 'btn btn-flat' %>

				<% end %>

			</div>
		</div>

	</div>	

	<br>
	<div class="container-title">
	  <div class="contact-container">
	    <p>Haben Sie Fragen oder Anregungen? Schicken Sie uns eine Nachricht.</p>
	    <%= link_to "Feedback senden", new_contact_path, class: "btn btn-flat" %>
	  </div>
	</div>

</div>

