<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/google_tagmanager' %>
    <%#= javascript_pack_tag 'google_analytics' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>    
    <meta name="description" content="<%= meta_description %>">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'shared/favicons' %>
    <title>in-frieden.ch</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> 
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="bg-white">
    <%= render 'shared/google_tagmanager_noscript' %>

    <%= render 'shared/navbar' %>
    
    <%= render 'shared/flashes' %>
    <p class="notice"><%= notice %></p>
    <!-- <p class="alert"><%#= alert %></p> -->

    <%= yield %>

    <%= render 'shared/footer' %>
    
    <%= javascript_pack_tag 'application' %>

    <!-- Start of in-frieden Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=24688dd3-17d5-4e47-905f-311b73e50f38"> </script>
    <!-- End of in-frieden Zendesk Widget script -->
  </body>
</html>

<!-- Rails.application.credentials.dig :google_analytics, :tracking_id -->