<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/google_tagmanager' %>
    <%#= javascript_pack_tag 'google_analytics' %>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Metag Tags -->
    <title><%= meta_title %></title>    
    <meta name="description" content="<%= meta_description %>">
    
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <!-- favicon -->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'shared/favicons' %>
    
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Trix Editor -->
    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> 
    <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="">
    <%= render 'shared/google_tagmanager_noscript' %>

    <%= render 'shared/navbar' %>
    
    <%= render 'shared/flashes' %>
    <!-- <p class="notice"><%#= notice %></p> -->
    <!-- <p class="alert"><%#= alert %></p> -->

    <%= yield %>

    <%= render 'shared/footer' %>
    
    <%= javascript_pack_tag 'application' %>
    

    <!-- Start of in-frieden JivoChat Widget script -->
    <script src="//code.jivosite.com/widget/DOhBpDu6XJ" async></script>
    <!-- End of in-frieden JivoChat Widget script -->

    <!-- Start of in-frieden Zendesk Widget script -->
    <!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=24688dd3-17d5-4e47-905f-311b73e50f38"> </script> -->
    <!-- End of in-frieden Zendesk Widget script -->
  </body>
</html>

<!-- Rails.application.credentials.dig :google_analytics, :tracking_id -->